<% provide(:title,"About Us")%>

    <h1>About Us</h1>
    <div class="pap">
    <p>
      We hope to make billing for distributors easier. Our website lets distributors make bills , register them with the state government website. Soon we will provide you with a tally importable xml file that you can  directly import your bills into tally
    </p>
 </div>
