<% provide(:title, 'Contact')%>
<div class="pap">
<h1>Contact</h1>
<h4>
	webmaster : nikhilshivpuja@onwebaccount.in
</h4>
<h4 >
      contact : saketbardia@gmail.com
  </h4>
   <h4>  
      phone   :	8050697228
    </h4>
</div>
