<p>Please enter both name and code for the commodity</p>
	<%= semantic_form_for @category, :remote=>true , :html => {:id => 'cc' } do |f| %>
	<%= f.inputs :name,:code, :name => "commodity"  ,:class =>"form-input"%>
	<%= f.action :submit,:button_html => { :class => "btn btn-small"} %>
	<% end %>