<% @curr_product= current_user.products.find(del_item_show.product_id)%>
<% @deliverable = Deliverable.find(del_item_show.id)%>

<tbody>
<tr>
  <td><b><%= @curr_product.name %></b></td>
  <td><b><%= @deliverable.unit_price %> </b></td>
  <td><b><%= del_item_show.quantity %> </b></td>
  <td><b> <%= del_item_show.del_price %> </b></td>
</tr>
</tbody>

<% @total = @total + del_item_show.del_price %>
