<br>
<br>
<table class="table table-bordered" bgcolor="#00FF00">
<tr>
  <td><b>Total number of Cash based Application Generated :</b></td>
   <td><%= @no_of_cash_application %></td>
</tr>
<tr>
  <td><b>Total number of Esugam Generated : </b></td>
  <td><%= @esugam_count %></td>
</tr>
<tr>
  <td><b>Total number of Users : </b></td>
  <td><%= @no_of_users%></td>
</tr>
</table>

<!-- CSS goes in the document HEAD or added to your external stylesheet -->
<style type="text/css">
    table {
        font-family: verdana,arial,sans-serif;
        font-size:14px;
        color:#333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }

    table td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #ffffff;
    }
</style>
<!-- Table goes in the document BODY -->

