<footer class="footer">
	<small>
		with thanks to <a href="http://railstutorial.org/" target="_blank">Rails Tutorial</a>
		by Michael Hartl , Developed By <a href="http://aboutme.nikhil.shivpuja.in/" target="_blank"> Nikhil Shivpuja</a> 
	</small>
	<nav>
		<ul>
			<li><%= link_to "About",  about_path %></li>
			<li><%= link_to "Contact",  contact_path %></li>
			
		</ul>
	</nav>
		
	
</footer>
